<form class="login-form" #login="ngForm" (ngSubmit)="onSubmit(login)">
    <input type="text" 
    placeholder="Username" 
    required
    name="username"
    ngModel
    maxlength="20"
    (input)="invalidData = false"
    [ngClass]="{'err_border': invalidData}"
    >
    <input type="password" 
    placeholder="Password"
    required
    name="password"
    minlength="8"
    maxlength="40"
    ngModel
    (input)="invalidData = false"
    [ngClass]="{'err_border': invalidData}"


    >
    <button type="submit" 
    class="btn-submit"
    [disabled]="!login.valid"
    
    
    >{{btnText}}</button>


    <p class="err_msg" *ngIf="invalidData">
        {{errorMsg}}
    </p>
</form>
